.header {
    border-bottom: 2px solid transparent;
    box-shadow: 0 0 5px #888888;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px 0%;
  };